imageio==2.9.0
pytorch_lightning==1.1.4
scipy==1.6.0
numpy==1.19.5
tqdm==4.56.0
pytest==6.2.1
matplotlib==3.3.3
git+https://github.com/patrick-kidger/torchcde.git
git+https://github.com/rtqichen/torchdiffeq
